#exemplo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #CCC;
    text-align: center;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.verde {
    background-color: #00FF00;
}

.vermelho {
 background-color: #FF0000;
}

.azul {
    color: #CCC;
    background-color: #0000FF;
}